body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 10px;
  background: #1c1c1c;
  color: white;
  border: none;
}

button {
  padding: 12px 30px;
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

pre {
  text-align: left;
  background: #111;
  padding: 20px;
  margin-top: 20px;
  white-space: pre-wrap;
}